* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, 
*::after,
*::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input[type=text], 
input[type=email], 
input[type=tel],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,button,textarea {
    font-family:inherit;
    border-radius: 0 !important;
    width: 100%;
    display: block;
}

textarea.input {
    resize: none;
    padding: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

a {
    text-decoration: none;
    color: inherit;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

.main {
    flex: 1 1 auto;
}

/* adaptiv img */
/* adaptiv img */
.ibg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ibg img {
    display: none;
}