/* <ZERO STYLE> ============================== */
@import "reset";
@import "fonts";
@import "main";
@import "presale";





.header {
  //background-image: url(../img/header/Background.png);
  background-position: center bottom;
  background-size: 1954px 946px;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 900px;
  @media (max-width: 1500px) {
    background-position: center bottom -42px;
    background-size: cover;
  }
  @media (max-width: 1450px) {
    //background-image: url(../img/header/Original1440.png);
    background-position: center bottom -60px;
    background-size: cover;
    //min-height: 800px;

  }
  @media (max-width: 852px) {
    //background-image: url(../img/header/header__top/Union.svg), url(../img/header/Background.png);
    background-position: 100% -8%, center bottom;
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    min-height: 0;
  }
  @media (max-width: 580px) {
    background-position: 100% -8%, 50% 50px;
    background-size: contain, cover;
    min-height: 0px;
  }
  @media (max-width: 385px) {
    background-position: 100% -8%,  50% 50px;
    background-size: contain, cover;
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @media (max-width: 992px) {
      object-fit: cover;
    }
  }
  &__top {
    //background-image: url(../img/header/header__top/Union2.svg), url(../img/header/Union.svg);
    background-position: top, center top;
    background-size: auto 82px, auto 186px;
    background-repeat: no-repeat, no-repeat;
    //background-image: url(../img/header/header__top/Union2.svg);
    display: flex;
    align-items: center;
    //height: 120px;
    height: 100px;
    position: relative;
    z-index: 10;
    //backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .4s ease;
    @media (max-width: 375px) {
      height: 90px;
    }
    & > img {
      left: 50%;
      bottom: 0;
      position: absolute;
      top: -15px;
      right: 0%;
      transform: translateX(-50%);
      z-index: -1;
      height: 150px;
      width: 100%;
      overflow: hidden;
      //width: calcFluidFontSize(170, 100);
      @media (max-width: 1440px) {
        width: auto;
      }
      @media (max-width: 550px) {
        height: 135px;
        //width: 1350px;
      }
      @media (max-width: 375px) {
        //height: 156px;
        //width: 1157px;
      }
    }
  }
  &__item {
    &:first-child, &:nth-child(3) {
      flex: 0 1 240px;
      @media (max-width: 852px) {
        flex: 0 1 195px;
      }
    }
    &:first-child {
      padding-left: 60px;
      position: relative;
      @media (max-width: 580px) {
        padding-left: 15px;
      }
    }
    &:nth-child(2) {
      flex: 1 1 auto;
      height: 100%;
      position: relative;
    }
    &:nth-child(3) {
    }
    &:nth-child(4) {
      position: absolute;
      top: 125px;
      left: 0;
      z-index: 1;
      transform: translateX(-100%);
      @media (max-width: 550px) {
        width: 100%;
      }
      @media (max-width: 390px) {
        top: 104px;
      }
    }
    &:nth-child(5) {
      position: absolute;
      bottom: -10px;
      right: 0;
      z-index: 1;
      width: 355px;
      height: 1px;
      background: linear-gradient(270deg, rgba(38, 166, 154, 0) 0%, #B2F6FF 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &:nth-child(6) {
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
      width: 355px;
      height: 1px;
      background: linear-gradient(270deg, rgba(38, 166, 154, 0) 0%, #B2F6FF 100%);
    }
    &:nth-child(5), &:nth-child(6) {
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
  &__menu {
    width: 59px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    span {
      width: 59px;
      height: 4px;
      background: radial-gradient(97.46% 50% at 2.93% 50%, rgba(148, 255, 218, 0.8) 59.43%, rgba(8, 177, 118, 0) 100%);
      backdrop-filter: blur(1px);
      border-radius: 2px;
      transition: all 0.5s;
    }
    &.active {
      span {
        background: radial-gradient(46.83% 53.3% at 50% 50%, rgba(8, 177, 118, 0) 0%, rgba(148, 255, 218, 0.8) 50.35%, rgba(8, 177, 118, 0) 100%);
        &:first-child {
          transform: translate(-6px, 8px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: translate(-6px, -8px) rotate(-45deg);
        }
        }
      }
    &-line {
      display: none;
    }
  }
  &__logo {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 853px) {
      width: 142px;
      bottom: -21px;
    }
    @media (max-width: 550px) {
      width: 142px;
      bottom: -14px;
    }

    &-png img{
      width: 95px;
      height: 95px;
      @media (max-width: 550px) {
        width: 85px;
        height: 85px;
      }
    }
    &-text {
      margin-top: 10px;
      @media (max-width: 550px) {
        margin-top: 0;
      }
      span {
        display: block;
        margin-top: -5px;
        font-family: 'feijoa';
        font-size: 14px;
        line-height: 140%;
        /* identical to box height, or 18px */
        text-align: center;
        letter-spacing: 0.05em;
        color: #EDFFFE;
        text-shadow: 0px 0px 4.67213px rgba(38, 166, 154, 0.15), 0px 0px 1.86885px rgba(38, 166, 154, 0.25);
        @media (max-width: 853px) {
          font-size: 12px;
        }
        @media (max-width: 512px) {
          font-size: 12px;
          margin-top: 0px;
        }
        @media (max-width: 375px) {
          font-size: 10px;
        }
      }
    }
  }
  &__btn {
    &-border {
      display: inline-block;
      position: relative;
    }
    @media (max-width: 853px) {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
    }
    @media (max-width: 580px) {
      margin-right: 15px;
    }
    @media (max-width: 375px) {
      display: none;
    }
    a {
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      letter-spacing: 0.03em;
      padding: 12px 24px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      @media (max-width: 853px) {
        font-size: 10px;
        margin-right: 0;
      }
      @media (max-width: 580px) {
        padding: 7px 10px;
        font-size: 8px;
      }
    }
  }
}
.out {
  top: -140px;
}

.side-bar {
  position: absolute;
  top: -18px;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  background: linear-gradient(331.73deg, rgba(0, 0, 0, 0.1) -1.55%, #000000 115.15%);
  box-shadow: 10px 0px 24px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  width: 355px;
  padding: 45px 60px 0 45px;
  transform: translateX(-100%);
  /* Note: backdrop-filter has minimal browser support */
  transition: all .5s;
  position: relative;
  overflow: auto;
  //height: 80vh;
  @media (max-height: 821px) {
    //height: calc(100vh - 80px);
    height: calc((var(--vh, 1vh) * 100) - 80px);
    margin-top: -15px;
    top: 0;
  }
  @media (max-width: 550px) {
    width: 100%;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    //background: rgba(0,0,0,0.25);
    background: #333333;
    opacity: 0.8;
  }
  &::-webkit-scrollbar-thumb {
    background: #0d0d0d;
    border-radius: 8px;
  }
  &.active {
    transform: translateX(100%);
    @media (max-width: 375px) {
      width: 100%;
    }
  }
  &-top {
    h5 {
      margin-bottom: 25px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background: linear-gradient(0deg, #26A69A -31.82%, #B2F6FF 110.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-shadow: 0px 0px 5px rgba(38, 166, 154, 0.9), 0px 0px 10px rgba(38, 166, 154, 0.45);
    }
  }
  &-link {
    position: relative;
    display: block;
    margin-bottom: 10px;
    .symbol {
      width: 6px;
      height: 6px;
      background: radial-gradient(95.83% 95.83% at 37.5% 4.17%, #7DFFE0 0%, rgba(99, 255, 218, 0) 100%);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }
    p {
      margin-left: 12px;
      font-weight: 400;
      font-size: 21px;
      color: #FFFFFF;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
    }
    &:hover {
      .symbol {
        width: 2px;
        height: 40px;
        background: linear-gradient(180deg, rgba(99, 255, 218, 0) 0%, #7DFFE0 45.74%, rgba(99, 255, 218, 0) 100%);
        border-radius: 1px;
      }
      p {
        font-weight: 600;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      position: relative;
      z-index: 10;
      margin-left: 13px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        filter: blur(9px);
        background: linear-gradient(180deg, rgba(178, 246, 255, 0) 0%, #26A69A 100%);
        z-index: -1;
      }
      .icon__svg {
        transition: all 0.3s;
        cursor: pointer;
        margin-bottom: 10px;
        path:nth-child(2){
          &:hover {
            fill: rgb(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5.57692px rgba(0, 0, 0, 0.5), 0px 0px 11.1538px rgba(0, 0, 0, 0.25), inset 0px 0px 5.57692px rgba(0, 0, 0, 0.5), inset 0px 0px 11.1538px rgba(0, 0, 0, 0.25);          }
        }
      }
    }
  }
}

.history {
  position: relative;
  height: 650px;
  //background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 16.69%, rgba(0, 0, 0, 0) 83.91%, #000000 100%),
  // url(../img/history/jake-weirick-Q_RBVFFXR_g-unsplash.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -1px;

  @media (max-width: 850px ) {
    height: 750px;
  }
  @media (max-width: 705px ) {
    height: 630px;
  }
  @media (max-width: 550px) {
    height: 510px;
  }
  @media (max-width: 375px) {
    height: 420px;
  }
}

.intro {
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 1;
  animation: intro 6s ease-out;
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 300%;
  opacity: 0;
}

@keyframes intro {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.content__text {
  color: #FFFF82;
  padding-bottom: 25px;
  line-height: 50px;
  @media (max-width: 540px) {
    line-height: 30px;
  }
}



#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(400px) rotateX(15deg);
  transform-origin: 50% 95%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 300%;
  height: 40em;
  width: 18em;
  bottom: 0;
  left: 50%;
  @media (max-width: 800px) {
    font-size: 250%;
  }
  @media (max-width: 705px) {
    font-size: 200%;
  }
  @media (max-width: 550px) {
    font-size: 150%;
  }
  @media (max-width: 375px) {
    font-size: 120%;
  }
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  animation: scroll 45s linear infinite;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -30%;
  }
}



.mission {
  padding-bottom: 100px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  &__red {
    display: block;
    width: 1440px;
    height: 14px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    margin-bottom: 120px;
    img {
      display: block;
      width: 100%;
      height: 14px;
      @media (max-width: 1100px) {
        width: 120vw;
        margin-left: -10vw;
      }
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    flex: 1 0 50%;
    @media (max-width: 1024px) {
      flex: 1 0 100%;
    }
  }
  &__img {
    @media (max-width: 1024px) {
      margin-left: -50px;
    }
    @media (max-width: 375px) {
      margin-left: 0px;
    }
    img {
      max-width: 748px;
      max-height: 543px;
      width: 100%;
    }
  }
  &__our {
    padding: 0 10px;
    @media (max-width: 1024px) {
      margin-top: 44px;
    }
    @media (max-width: 375px) {
      padding: 0;
    }
    &-title {
      padding-top: 8px;
      position: relative;
      margin-bottom: 24px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        top: 0px;
        background: radial-gradient(100% 460.9% at 100% 100%, rgba(206, 101, 255, 0) 0%, #FF8888 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        border-radius: 3px;
      }
      &-red {
        position: relative;
        padding-bottom: 8px;
        @media (max-width: 540px) {
          font-size: 78px;
        }
        @media (max-width: 416px) {
          font-size: 70px;
        }
        @media (max-width: 375px) {
          font-size: 64px;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0px;
          bottom: 0px;
          background: radial-gradient(100% 460.9% at 100% 100%, rgba(206, 101, 255, 0) 0%, #FF8888 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
          border-radius: 3px;
        }
      }
    }
    &-text {
      font-family: 'proxima_nova';
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      /* or 135% */
      color: #FFFFFF;
      text-align: justify;
    }
  }
}

.secret {
  padding-top: 50px;
  padding-bottom: 100px;
  //background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 16.69%, rgba(0, 0, 0, 0) 83.91%, #000000 100%),
  //            url(../img/secret/Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -1px;
  @media (max-width: 375px) {
    padding-bottom: 50px;
  }
  &__mob {
    display: none;
    @media (max-width: 785px) {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &-col {
      display: flex;
      align-items: center;
      justify-content: start;
      background-image: url(../img/icons/secret/Flag_Small_Top.svg);
      background-position: center right;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 216px;
      &-object {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 1 45%;
        @media (max-width: 470px) {
          justify-content: start;
        }
        .bg1 {
          max-width: 81px;
          max-height: 113px;
        }
        .bg2 {
          max-width: 130px;
          max-height: 81px;
        }
        .bg3 {
          max-width: 104px;
          max-height: 121px;
        }
      }
      .margin {
        margin-left: -9px;
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 24px;
    h2 {
      padding: 4px 0;
      position: relative;
      text-align: center;
      @media (max-width: 547px) {
        text-align: left;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        top: 0px;
        background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
        border-radius: 3px;
        @media (max-width: 540px) {
          max-width: 350px;
          background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
        }
      }
    }
    &-inner {
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: 0px;
        background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
        border-radius: 3px;
        @media (max-width: 540px) {
          max-width: 350px;
          background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
        }
      }
    }
  }
  &__text {
    margin-bottom: 40px;
    p {
      font-family: 'proxima_nova';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      text-align: center;
      @media (max-width: 547px) {
        text-align: left;
      }
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    @media (max-width: 785px) {
      display: none;
    }
  }
  &__column {
    width: 250px;
    min-height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33.33%;
    &-object {
      height: 140px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      img {
        max-width: 150px;
        max-height: 140px;
        width: 100%;
      }
    }
    &-subtitle {
      font-family: 'proxima_nova';
      font-style: normal;
      font-weight: 600;
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      flex: 0 1 45%;
      @media (max-width: 680px) {
        text-align: left;
      }
    }
    &-bg {
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 250px;
      width: 100%;
      min-height: 375px;
      &.bg1 {
        background-image: url(../img/secret/01.png);
      }
      &.bg2 {
        background-image: url(../img/secret/02.png);
      }
      &.bg3 {
        background-image: url(../img/secret/03.png);
      }
    }
  }
}

.algorithm {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  padding-top: 50px;
  padding-bottom: 40px;
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
  }
  &__title {
    max-width: 1070px;
    margin-bottom: 54px;
    @media (max-width:1180px) {
      max-width: 675px;
    }
    &-top {
      span {
        display: inline-block;
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.04em;
        background: radial-gradient(106.02% 485.88% at 106.02% 50%, #B2F6FF 0%, #26A69A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          max-width: 925px;
          width: 100%;
          height: 4px;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
          background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
          border-radius: 3px;
        }
        @media (max-width:1180px) {
          &::after {
            max-width: 530px;
          }
        }
        @media (max-width:785px) {
          &::after {
            max-width: 252px;
            left:145px;
          }
        }
        @media (max-width:375px) {
          &::after {
            max-width: 185px;
          }
        }
      }
    }
    &-text {
      position: relative;
      padding-bottom: 8px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        max-width: 925px;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
        border-radius: 3px;
      }
      @media (max-width:1180px) {
        &::after {
          max-width: 367px;
        }
      }
      @media (max-width: 540px) {
        font-size: 75px;
      }
      @media (max-width: 375px) {
        font-size: 64px;
      }
    }
  }
  &__text {
    margin: 40px 0;
    p {
      font-family: 'proxima_nova';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  &__img {
    &-bc {
      display: block;
      img {
        width: 100%;
      }
      &:last-child {
        display: none;
      }
      @media (max-width: 540px) {
        &:first-child{
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
    &-pc {
      display: block;
      width: 100%;
    }
    &-smb {
      max-width: 330px;
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}

.gradiation {
  //background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 16.69%, rgba(0, 0, 0, 0) 83.91%, #000000 100%), url(../img/gradiation/Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  padding: 150px 0 150px 0;
  padding-top: 0;
  @media (max-width: 1440px) {
    padding: 125px 0 120px 0;
    padding-top: 0;

  }
  .container {
    padding-top: 45px;
    @media (max-width: 1024px) {
      padding-top: 0;
    }
    @media (max-width: 550px) {
      overflow: visible;
    }
  }
  @media (max-width: 1180px) {
    padding: 50px 0 100px 0;
  }
  @media (max-width: 1024px) {
    padding: 0 0 50px 0;
    padding-top: 0;

  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 1 0 50%;
    &:first-child {
      margin-right: -150px;
    }
    @media (max-width: 1024px) {
      flex: 1 0 100%;
      margin-bottom: 66px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
  &__img {
    img {
      display: block;
      max-width: 703px;
      width: 100%;
      margin-top: -85px;
      @media (max-width: 1024px) {
        margin-top: 0;
      }
      @media (max-width: 550px) {
       transform: scale3d(1.25,1.25,1.25);
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding-top: 8px;
    margin-bottom: 24px;
    position: relative;
    max-width: 407px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0px;
      top: 0px;
      background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
      border-radius: 3px;
    }
    &-top {
      padding-bottom: 8px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: 0px;
        background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
        border-radius: 3px;
      }
    }
  }
  &__text {
    font-family: 'proxima_nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.form {
  padding: 33px 40px 29px 40px;
  max-width: 546px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../img/gradiation/Input_window.png);
  background-size: 109% 120%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 0px 24px rgba(0, 0, 0, 0.5);
  position: relative;
  @media (max-width: 1024px) {
    display: none;
  }
  &.form2 {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      max-width: 530px;
      margin: 0 auto;
    }
  }

  form {
    max-width: 466px;
    width: 100%;
  }
  &__title {
    max-width: 282px;
    position: relative;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: center;
    @media (max-width: 375px) {
      max-width: 207px;
    }
    h2 {
      padding-bottom: 8px;
      font-size: 48px;
      line-height: 1.17;
      text-align: center;
      @media (max-width: 480px) {
        font-size: 37px;
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0px;
      bottom: 0px;
      background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
      border-radius: 3px;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__input {
    background: linear-gradient(270deg, rgba(41, 193, 214, 0) 0%, rgba(41, 193, 214, 0.26) 69.1%, rgba(133, 255, 234, 0.39) 100%);
    font-family: 'proxima_nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    /* identical to box height */
    color: #FFFFFF;
    padding: 8px 12px;
    &::placeholder {
      color:rgba(255,255,255,0.4);
    }
  }
  &__border {
    position: relative;
  }
  &__btn {
    width: 121px;
    padding: 12px 24px;
  }
}

.path {
  //background:linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 16.69%, rgba(0, 0, 0, 0) 83.91%, #000000 100%), url(../img/path/Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -2px;
  padding: 50px 0 100px 0;
  @media (max-width: 768px) {
    padding: 50px 0 50px 0;
  }
  &__inner {}
  &__box {
    padding-top: 8px;
    position: relative;
    max-width: 415px;
    margin: 0 auto;
    margin-bottom: 24px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0px;
      top: 0px;
      background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
      border-radius: 3px;
    }
  }
  &__title {
    padding-bottom: 8px;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0px;
      bottom: 0px;
      background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
      border-radius: 3px;
    }
    h2 {
      text-align: center;
      width: 100%;
    }
  }
  &__number {
    display: flex;
    justify-content: center;
    margin: 0 auto 16px auto;
    position: relative;
    max-width: 400px;
    height: 130px;
    @media (max-width: 375px) {
      height: 70px;
    }
    &-left {
      display: block;
      position: absolute;
      width: 335px;
      height: 100%;
      left: -0.5%;
      top: 0;
      z-index: 5000;
      //background-color: #D02B2B;
      opacity: 0.5;
      cursor: pointer;
      @media (max-width: 1980px) {
        left: 2.8%;
        width: 325px;
      }
      @media (max-width: 1440px) {
        left: 0;
        width: 325px;
      }
      @media (max-width: 1180px) {
        width: 204px;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
    &-left2 {
      display: block;
      position: absolute;
      width: 85px;
      height: 100%;
      left: 1%;
      top: 0;
      z-index: 5000;
      //background-color: #D02B2B;
      opacity: 0.5;
      cursor: pointer;
      @media (max-width: 610px) {
        left: 13%;
      }
      @media (max-width: 375px) {
        left: 15%;
        width: 55px;
      }
    }
    &-right {
      display: block;
      position: absolute;
      width: 335px;
      height: 100%;
      right: -0.5%;
      top: 0;
      z-index: 5000;
      //background-color: #D02B2B;
      opacity: 0.5;
      cursor: pointer;
      @media (max-width: 1980px) {
        right: 2.8%;
        width: 325px;
      }
      @media (max-width: 1440px) {
        right: -0.5%;
        width: 325px;
      }
      @media (max-width: 1180px) {
        width: 204px;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
    &-right2 {
      display: block;
      position: absolute;
      width: 85px;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 5000;
      //background-color: #D02B2B;
      opacity: 0.5;
      cursor: pointer;
      @media (max-width: 610px) {
        right: 13%;
      }
      @media (max-width: 375px) {
        right: 15%;
        width: 55px;
      }
    }
  }
  &__slider {
    width: 100%;
  }
  &__wrapper {
  }
  &__item {
  }
  &__column {
    background: url(../img/path/Roadmap.png);
    background-size: 115% 110%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3), 0px 4px 24px rgba(0, 0, 0, 0.15), inset 0px -8px 16px rgba(27, 45, 40, 0.25), inset 0px 8px 16px rgba(142, 255, 235, 0.25);
    padding: 40px 30px;
    max-width: 395px;
    min-height: 485px;
    position: relative;
    //height: 100%;
    @media (max-width: 440px) {
      padding: 25px 20px 30px;
    }
    @media (max-width: 320px) {
      padding: 20px;
    }
  }
  &__episode {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    span {
      display: block;
      margin-left: 8px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #FFFFFF;
      text-shadow: 0px 0px 5.88235px rgba(38, 166, 154, 0.15), 0px 0px 2.35294px rgba(38, 166, 154, 0.25);
    }
    @media (max-width: 375px) {
      font-size: 12px;
    }
    img {
      width: 18px;
      height: 18px;
    }
  }
  &__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    background: radial-gradient(99.55% 340.65% at 98.06% 112.5%, #26A69A 0%, #B2F6FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;
    @media (max-width: 610px) {
      font-size: 28px;
      margin-bottom: 10px;
    }
    @media (max-width: 375px) {
      font-size: 23px;
      line-height: 32px;
    }
  }
  .list {
    &__about {
      font-family: 'proxima_nova';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      /* identical to box height, or 128% */
      color: #FFFFFF;
      @media (max-width: 610px) {
        font-size: 14px;
      }
      @media (max-width: 375px) {
        font-size: 13px;
      }
    }
    &__element {
      padding-left: 10px;
      position: relative;
      &::before {
        content: '';
        background-image: url(../img/icons/path/Ellipse.svg);
        width: 4px;
        height: 4px;
        position: absolute;
        left: 0;
        top: 40%;
        bottom: 0;
        transform: translateY(-50%);
      }
      &:not(:last-child) {
        margin-bottom: 8px;
        @media (max-width: 610px) {
          margin-bottom: 8px;
        }
      }
    }
  }
}

:root {
  --card-width1: 395px;
  --card-width2: 130px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
  @media (max-width: 610px) {
    --card-width1: 312px;
  }
  @media (max-width: 440px) {
    --card-width1: 279px;
  }
  @media (max-width: 375px) {
    --card-width1: 240px;
  }
}

.app {
  width: 100%;
  height: 582px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  @media (max-width: 1440px) {
    max-width: 1120px;
  }
  @media (max-width: 1180px) {
    max-width: 877px;
  }
  @media (max-width: 960px) {
    max-width: 740px;
  }
  @media (max-width: 820px) {
    max-width: 550px;
  }
}

.app2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.cards__wrapper2 {
  width: 400px;
  height: 100%;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width1);
  max-height: var(--card-height1);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  @media (max-width: 960px) {
    transition: none;
  }
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}

.card2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
              scale(var(--card-scale-offset)) rotateY(var(--card-rotation-offset));
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  //user-select: none;
}

.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
  z-index: 50 !important;
}

.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width1) * 1.2);
  --card-rotation-offset: 25deg;
  z-index: 20 !important;
  opacity: 0.9 !important;
  @media (max-width: 1440px) {
    --card-translateX-offset: calc(-1 * var(--card-width1) * 1.01);
  }
  @media (max-width: 1180px) {
    --card-translateX-offset: calc(-1 * var(--card-width1) * 0.7);
  }
  @media (max-width: 960px) {
    --card-translateX-offset: calc(-1 * var(--card-width1) * 0.53);
  }
  @media (max-width: 960px) {
    --card-translateX-offset: calc(-1 * var(--card-width1) * 0.28);
  }
  @media (max-width: 610px) {
    --card-translateX-offset: calc(-1 * var(--card-width1) * 0);
  }
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width1) * 1.2);
  --card-rotation-offset: -25deg;
  z-index: 20 !important;
  opacity: 0.9 !important;
  @media (max-width: 1440px) {
    --card-translateX-offset: calc(var(--card-width1) * 1.01);
  }
  @media (max-width: 1180px) {
    --card-translateX-offset: calc(var(--card-width1) * 0.7);
  }
  @media (max-width: 960px) {
    --card-translateX-offset: calc(var(--card-width1) * 0.53);
  }
  @media (max-width: 960px) {
    --card-translateX-offset: calc(var(--card-width1) * 0.28);
  }
  @media (max-width: 610px) {
    --card-translateX-offset: calc(var(--card-width1) * 0);
  }
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.card2.current--card2 {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: 0deg;
  --card-scale-offset: 1.2;
  z-index: 50 !important;
  opacity: 1 !important;
}
.card2.previous--card2 {
  --card-translateX-offset: calc(-1 * var(--card-width2) * 1.2);
  --card-rotation-offset: 0deg;
  z-index: 20 !important;
  opacity: 0.5 !important;
  @media (max-width: 610px) {
    --card-translateX-offset: calc(-1 * var(--card-width2) * 0.8);
  }
  @media (max-width: 375px) {
    --card-translateX-offset: calc(-1 * var(--card-width2) * 0.64);
  }
}
.card2.next--card2 {
  --card-translateX-offset: calc(var(--card-width2) * 1.2);
  --card-rotation-offset: 0deg;
  z-index: 20 !important;
  opacity: 0.5 !important;
  @media (max-width: 610px) {
    --card-translateX-offset: calc(var(--card-width2) * 0.8);
  }
  @media (max-width: 375px) {
    --card-translateX-offset: calc(var(--card-width2) * 0.64);
  }
}

.card2.previous--card2, .card2.next--card2 {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.current--image2 img {
  width: 108px;
  height: 108px;
  @media (max-width: 610px) {
    width: 87px;
    height: 87px;
  }
  @media (max-width: 375px) {
    width: 58px;
    height: 58px;
  }
}

.next--image2 img, .previous--image2 img {
  width: 123px;
  height: 123px;
  @media (max-width: 610px) {
    width: 93px;
    height: 93px;
  }
  @media (max-width: 375px) {
    width: 65px;
    height: 65px;
  }
}

.contract {
  //background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 16.69%, rgba(0, 0, 0, 0) 83.91%, #000000 100%), url(../img/contract/Frame_8858.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  @media (max-width: 540px) {
    padding: 0px 0 100px 0;
  }
  .container {
    @media (max-width: 550px) {
      overflow: visible;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__column {
    display: flex;
    justify-content: center;
    &:first-child {
      margin-bottom: 24px;
    }
    &:nth-child(2){
      width: 100%;
      margin-bottom: 50px;
    }
    &:nth-child(3){
      margin-bottom: 110px;
      @media (max-width: 610px) {
        margin-bottom: 50px;
      }
    }
    &:nth-child(4){
      display: block;
      width: 100%;
      padding-left: 60px;
      @media (max-width: 1366px) {
        padding-left: 0;
      }
    }
    &-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-box {
      padding-top: 8px;
      position: relative;
      max-width: 167px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        top: 0px;
        background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
        border-radius: 3px;
      }
    }
    &-title {
      padding-bottom: 8px;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: 0px;
        background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
        border-radius: 3px;
      }
      h3 {
        font-weight: 400;
        font-size: 48px;
        line-height: 1;
        /* identical to box height, or 96% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
      }
    }
    &-copy {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      .copied {
        position: relative;
        .copy {
          cursor: pointer;
          background-image: url(../img/icons/contract/Copy.svg);
          background-size: contain;
          width: 20px;
          height: 24px;
          &:hover {
            background-image: url(../img/icons/contract/Copy2.png);
            background-size: cover;
            background-position: center;
            height: 28px;
          }
        }
        &__block {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 33px;
          left: 50%;
          transform: translateX(-50%);
          width: 96px;
          height: 50px;
          z-index: 1;
          background-image: url(../img/icons/contract/copy_block.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0;
          cursor: default;
          @media (max-width: 610px) {
            background-image: url(../img/icons/contract/copy_block2.png);
            left: -92%;
          }
          &.active {
            display: flex;
            opacity: 1;
          }
          span {
            padding-top: 6px;
            font-family: 'proxima_nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            color: #FFFFFF;
            @media (max-width: 680px) {
              font-size: 12px;
            }
          }
        }
        &__block2 {
          display: none;
          justify-content: center;
          position: absolute;
          bottom: 33px;
          left: 50%;
          transform: translateX(-50%);
          width: 177px;
          height: 50px;
          z-index: 2;
          background-image: url(../img/icons/contract/Clipboard.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          cursor: default;
          @media (max-width: 680px) {
            width: 115px;
          }
          @media (max-width: 480px) {
            background-image: url(../img/icons/contract/copy_block2.png);
            left: -100%;
          }
          span {
            padding-top: 6px;
            font-family: 'proxima_nova';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            color: #FFFFFF;
            @media (max-width: 680px) {
              font-size: 13px;
            }
            @media (max-width: 475px) {
              padding-right: 3px;
              font-size: 10px;
            }
            @media (max-width: 360px) {
              width: 83px;
            }
          }
        }
      }
    }
    &-container {
      display: block;
      position: relative;
      max-width: 482px;
      width: 100%;
      margin-right: 5px;
      background: linear-gradient(270deg, rgba(133, 255, 234, 0.39) 0%, rgba(41, 193, 214, 0.195) 24.46%, rgba(214, 41, 41, 0.13) 67.53%, rgba(214, 41, 41, 0.39) 100%);
      padding: 9px 5px 9px 12px;
      @media (max-width: 575px) {
        max-width: 330px;
      }
      @media (max-width: 375px) {
        padding: 9px 5px 9px 5px;
      }
      span {
        font-family: 'proxima_nova';
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        color: #FFFFFF;
        @media (max-width: 575px) {
          font-size: 14px;
        }
        @media (max-width: 380px) {
          font-size: 13px;
        }
        // @media (max-width: 375px) {
        //   font-size: 12px;
        // }
        @media (max-width: 340px) {
          font-size: 11px;
        }
      }
    }
    &-link {
      position: relative;
      a {
        display: inline-block;
        background: linear-gradient(270deg, rgba(51, 134, 120, 0.65) 0%, rgba(41, 193, 214, 0.065) 35.55%, rgba(253, 83, 83, 0.065) 61.81%, rgba(134, 51, 51, 0.65) 100%);
        box-shadow: inset 0px 0px 16px rgba(73, 214, 171, 0.4);
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 12px 24px;
        @media (max-width: 375px) {
          font-size: 10px;
        }
      }
    }
    &-img {
      img {
        max-width: 1120px;
        max-height: 550px;
        width: 100%;
      }
    }
    /*&-content {
      position: relative;
    }*/
    &-subtitle {
      margin-bottom: 8px;
      h3 {
        font-weight: 400;
        font-size: 36px;
        line-height: 1;
        /* identical to box height, or 100% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
      }
    }
    &-text {
      max-width: 1400px;
      padding-right: 150px;
      padding-bottom: 50px;
      @media (max-width: 540px) {
        padding-right: 0;
        padding-bottom: 0px;
      }
      p {
        font-family: 'proxima_nova';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        color: #FFFFFF;
        @media (max-width: 768px) {
          font-size: 16px;
        }
        @media (max-width: 375px) {
          font-size: 14px;
        }
      }
    }
  }
}

.social {
  width: 100px;
  position: absolute;
  right: 1%;
  transform: translateY(-50%);
  bottom: -5%;
  z-index: 1;
  @media (max-width: 1300px) {
    right: 1.5%;
  }
  @media (max-width: 850px) {
    right: 2%;
  }
  @media (max-width: 650px) {
    right: 2.5%;
  }
  @media (max-width: 550px) {
    right: 3%;
  }
  @media (max-width: 540px) {
    display: none;
  }
  .side-bar-bottom__item.item {
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
  }
}

.social {
  .side-bar-bottom__item{
    &::after {
      background: linear-gradient(90deg, rgba(178, 246, 255, 0) 0%, #26A69A 100%);
      filter: blur(9px);
    }
  }
}

.social-mob {
  display: flex;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 0;
    @media (max-width:540px) {
      display: flex;
    }
    .side-bar-bottom__item {
      width: 38px;
      height: 80px;
      margin-right: 15px;
    }
}

.tokenomics {
  background: #0d0d0d;
  //background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 16.69%, rgba(0, 0, 0, 0) 83.91%, #000000 100%), url(../img/secret/Image.png);
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 25px 0 50px 0;
  }
  .container {
    max-width: none;
    padding: 0;
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  &__title {
    font-weight: 400;
    font-size: 96px;
    line-height: 1.2;
    background: radial-gradient(100% 1111.91% at 100% 50%, #B2F6FF 0%, rgba(38, 166, 141, 0) 50%, #B2F6FF 100%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: fit-content;
    position: relative;
    padding: 8px 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0px;
      top: 0px;
      background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
      border-radius: 3px;
      @media (max-width: 540px) {
        background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0px;
      bottom: 0px;
      background: linear-gradient(270deg, rgba(38, 166, 136, 0) 0%, #B2F6FF 49.98%, rgba(38, 166, 136, 0) 100%);
      border-radius: 3px;
      @media (max-width: 540px) {
        background: radial-gradient(100% 1111.91% at 100% 50%, rgba(38, 166, 136, 0) 0%, #B2F6FF 100%);
      }
    }
    @media (max-width: 768px) {
      font-size: 64px;
      padding: 0;
    }
    @media (max-width: 540px) {
      margin: 0;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 50px;
    @media (max-width: 550px) {
      text-align: left;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 850px;
    overflow: visible;
    @media (max-width: 700px) {
      min-height: 600px;
    }
  }
  &-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    width: 100%;

  }
  &-text {
    .title {
      display: flex;
      justify-content: center;
    }
    .description {

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 8px;
        color: #FFFFFF;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .info {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      &-left, &-right {
        //width: calc(50% - 10px);
        width: fit-content;
        h3 {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          background: linear-gradient(91.63deg, #65FFF9 0.28%, #72C7AA 23.47%, #65B5FF 82.6%, #727BC7 99.62%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          text-align: center;
          position: relative;
          letter-spacing: 0.20em;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0px;
            background: linear-gradient(271.79deg, #CE65FF 0.25%, #CA529A 24.04%, #FF5B5B 70.17%, #FFA7A7 96.78%), #FFFFFF;
          }
        }
        p {
          background: linear-gradient(271.79deg, rgba(206, 101, 255, 0.5) 0.25%, rgba(202, 82, 154, 0.5) 24.04%, rgba(255, 91, 91, 0.5) 70.17%, rgba(255, 167, 167, 0.5) 96.78%), #FFFFFF;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          text-align: center;
          margin-top: 3px;
          letter-spacing: 0.03em;
          &:last-child {
            margin-top: 0px;
          }
        }
      }
      &-left {
        margin-right: 10px;
        h3 {
          background: linear-gradient(91.63deg, #65FFF9 0.28%, #72C7AA 23.47%, #65B5FF 82.6%, #727BC7 99.62%), #FFFFFF;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          &:after {
            background: linear-gradient(91.63deg, #65FFF9 0.28%, #72C7AA 23.47%, #65B5FF 82.6%, #727BC7 99.62%), #FFFFFF;          }
        }
        p {
          background: linear-gradient(91.63deg, rgba(101, 255, 249, 0.5) 0.28%, rgba(114, 199, 170, 0.5) 23.47%, rgba(101, 181, 255, 0.5) 82.6%, rgba(114, 123, 199, 0.5) 99.62%), #FFFFFF;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
        }
      }
      &-right{
        margin-left: 9px;
        h3 {
          background: linear-gradient(271.79deg, #CE65FF 0.25%, #CA529A 24.04%, #FF5B5B 70.17%, #FFA7A7 96.78%), #FFFFFF;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
        }
        p {
          background: linear-gradient(271.79deg, rgba(206, 101, 255, 0.5) 0.25%, rgba(202, 82, 154, 0.5) 24.04%, rgba(255, 91, 91, 0.5) 70.17%, rgba(255, 167, 167, 0.5) 96.78%), #FFFFFF;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
        }
      }

    }
  }
  .tokenomics-absolute {
    @media (max-width: 700px) {
      max-width: 280px;

      .title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        svg {
          height: 50px;
        }
      }

      .description {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        p {
          font-size: 14px;
          line-height: 15px;
          margin-bottom: 4px;
        }
      }

      .info {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        &-left, &-right {
          width: fit-content;
          h3 {
            font-size: 14px;
            line-height: 17px;
          }
          p {
            font-size: 10px;
            line-height: 12px;
          }
        }
        &-left {
          margin-right: 8px;
        }
        &-right {
          margin-left: 8px;
        }
      }
    }
  }

  .title {
    min-height: 70px;
  }

  .description {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tokenomics-text {
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: auto;
    @media (max-width: 700px) {
      min-height: 260px;
    }
  }
  .step {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    &__img {
      height: 806px;
      width: 800px;
      object-fit: contain;
      @media (max-width: 700px) {
        width: 560px;
        height: 560px;
      }
    }
  }
  .step1 {
    //display: none;
  }
  .step2 {
    display: none;
    .step__img {
      height: 785px;
      object-fit: cover;
      @media (max-width: 700px) {
        height: 545px;
      }
    }
    .tokenomics-absolute {
      top: 51%;
    }
  }
  .step3 {
    display: none;
  }
}

.buttons {
  position: relative;
  &_step1, &_step2, &_step3 {
    position: absolute;
    top: 60px;
    width: 130px;
    height: 130px;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 700px) {
      width: 80px;
      height: 80px;
    }
  }
  &_step1 {
    left: 23%;
  }
  &_step2 {
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  &_step3 {
    right: 22%;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(35, 33, 34, 0.35);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: 999;
  display: none;
  padding: 0 25px;
  &__content {
    width: 400px;
    height: 210px;
    background: linear-gradient(90deg, rgba(41, 193, 214, 0.45) 0%, rgba(41, 193, 214, 0.1125) 36.88%, rgba(41, 193, 214, 0.1125) 61.14%, rgba(41, 193, 214, 0.45) 100%);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h3 {
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      background: radial-gradient(100% 1111.91% at 100% 50%, #B2F6FF 0%, rgba(38, 166, 141, 0) 50%, #B2F6FF 100%), #FFFFFF;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      @media (max-width: 768px) {
        font-size: 36px;
      }
    }
    svg {
      margin-top: 4px;
    }
  }
  &__btn {
    background: radial-gradient(100% 217.72% at 0% 100%, #007A6B 0%, #4AAFB6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 24px;
    position: relative;
    &:hover {
      cursor: pointer;
      background: radial-gradient(100% 217.72% at 0% 100%, #4AAFB6 0%, #007A6B 100%);
    }
  }
}

.hidden {
  overflow: hidden;
}
